/* FONTS */
@font-face {
    font-family: "raleway regular";/*400*/
    src: url("../fonts/Raleway/static/Raleway-Regular.ttf");
}

@font-face {
    font-family: "raleway medium";/*500*/
    src: url("../fonts/Raleway/static/Raleway-Medium.ttf");
}
@font-face {
    font-family: "raleway semibold";/*600*/
    src: url("../fonts/Raleway/static/Raleway-SemiBold.ttf");
}
@font-face {
    font-family: "raleway bold";/*700*/
    src: url("../fonts/Raleway/static/Raleway-Bold.ttf");
}
@font-face {
    font-family: "raleway extrabold";/*800*/
    src: url("../fonts/Raleway/static/Raleway-ExtraBold.ttf");
}
@font-face {
    font-family: "raleway black";/*900*/
    src: url("../fonts/Raleway/static/Raleway-Black.ttf");
}

@font-face {
    font-family: "nunito black";
    src: url("../fonts/Nunito/static/Nunito-Black.ttf");
}

@font-face {
    font-family: "nunito extrabold";
    src: url("../fonts/Nunito/static/Nunito-ExtraBold.ttf");
}

@font-face {
    font-family: "nunito bold";
    src: url("../fonts/Nunito/static/Nunito-Bold.ttf");
}
/*FIN FONTS-----------------------------------------------------------------------------------------------------*/

/*POP-UP para cambiar de plan*/

.planmensual--pop-up{
    display: none;
    width: 100vw;
    position: fixed;
    z-index: 50;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.402);
    align-items: center;
    justify-content: center;
}
.planmensual--pop-up_turnos{
    /* display: none; */
    width: 100vw;
    position: fixed;
    z-index: 50;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.402);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .planmensual--pop-up_turnos > .planmensual--pop-up_wrap > .pop-up--first{
    width: 45rem;
}
.planmensual--pop-upt_turnos_dias{
    display: none;
    width: 100vw;
    position: fixed;
    z-index: 50;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.402);
    display: flex;
    align-items: center;
    justify-content: center;
}
 */
.planmensual--pop-up.active{
    display: flex;
}
.planmensual--pop-up_wrap{
    background: #D6E1FF;
    border-radius: 32px;
}
/*Mensual suscription*/

.landing-planmensual{
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1.5rem 0;
}
.planmensual-titulo img{
    width: 6rem;
    display:flex;
    justify-content: center;
    margin: auto auto 0.5rem;
}
.planmensual-titulo p{
    font-family: "raleway semibold";
    font-size: 2rem;
    text-align: center;
    margin: auto;
}
.plan p{
    font-family: "raleway semibold";
    font-size: 1.4rem;
    text-align: center;
    margin: 1rem 0;
}

.landing-planmensual button{
    /* width: 23%;
    min-width: 14rem;
    height: 16%;
    min-height: 4rem; */
    border-radius: 14px;
    border-color: transparent;
    background-color: #5135FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all .5s ease;
    display:flex;
    justify-content: center;
    margin: 0 auto 3px;
}
.landing-planmensual button p{
    text-decoration: none;
    font-family: "raleway semibold";
    font-size:1.4rem;
    color: white;
    display: flex;
    align-content: center;
    padding: 1rem 2rem;
    margin: auto;
}
.landing-planmensual > button:hover{
    transform: scale(1.08);
}
/*--------------------------------------------------------------------*/
/* rimer cuadrito real donde van los dat
.pop-up--data{
    width: 42rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.input-group {
    position: relative;
    margin: 0.3rem;
}
.input {
    width: 90%;
    border: solid 1.5px #ffffff;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-family: "raleway semibold";
    font-size: 1.4rem;
}
.user-label {
    position: absolute;
    top: 1.5%;
    left: 15px;
    font-family: "raleway semibold";
    font-size: 1.4rem;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.input:focus, .input:valid {
    outline: none;
    border: 1.7px solid #ffffff;
}

.input:focus ~ label, .input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #D6E1FF;
    padding: 0.3em;
    color: #5135FF;
    font-family: "raleway bold";
    top: 1px;
} */


/*Primer cuadrito*/

.pop-up--first{
    width: 42rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    /* display: none; */
}
.pop-up--first.active{
    display: none;
}
.pop-up--first > p{
    font-family: "raleway semibold";
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    margin: 2rem auto 1rem;
}
.pop-up--first > select{
    width: fit-content;
    margin: auto;
    border-radius: 1rem;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
}
.pop-up--first ul{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0 1rem;
}
.pop-up--plan{
    background: #FFFFFF;
    border-radius: 18px;
    line-height: 2em;
    margin: 0 0.5rem;
    cursor: pointer;
}
.pop-up--first > ul > input[type="radio"]{
    display: none;
}
.pop-up--first >  ul > input[type="radio"]:checked + label{
    background-color: #5135FF;
    color: white;
}
.pop-up--first >  ul > input[type="radio"]:checked + label > p{
    color: white;
}
.pop-up--plan p{
    height: auto;
    font-family: "raleway medium";
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem;
}

/*Botones (siguiente - atras)---------------------*/
.pop-up--first #first_button{
    text-decoration: none;
    pointer-events: none;
    font-family: "raleway semibold";
    font-size: 1.4rem;
    color: white;
    padding: 1rem 3rem;
    margin: auto;
    border-radius: 14px;
    border: none;
    background-color: #5135FF;
    cursor: pointer;
    margin-top: 1.6rem;
    margin-bottom: 1.3rem;
}
.pop-up--first #out_modal{
    text-align: center;
    color: #000;
    font-family: "raleway semibold";
    font-size: 1.2rem;
    background: transparent;
    border: none;
    cursor: pointer;
}

.pop-up--second{
    width: 42rem;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    height: 100%;   
    display: none;
}
.planmensual--pop-upt_turnos_dias > form >.pop-up--second{
    display: flex;
}
.planmensual--pop-upt_turnos_dias > form > .pop-up--second > p
{
    text-align: center;
}


.update_turno > #pop-up--first.active{
    display: none;
}
.update_turno > #pop-up--second.active{
    display: flex;
}


.pop-up--second > p{
    font-family: "raleway semibold";
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
    margin: 2rem auto 1.2rem;
}
.pop-up--second ul{
    display: flex;
    justify-content: space-between;
}
.day{
    background: #FFF;
    border-radius: 18px;
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    min-width: 7rem;
    max-width: 7rem;
}

.day > select{
    position: absolute;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
}
.day >.custom-num{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.day >.custom-num > input[type="number"]{
    width: 2rem;
    height: 4rem;
    border: none;
    text-align: center;
    outline: none;
}
.day >.custom-num > input[type="number"]::-webkit-inner-spin-button, 
.day >.custom-num > input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { 
    /* -moz-appearance:textfield;  */
    width: 50%;
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.disminuir, .aumentar
{
    background-color: transparent;
    background-color: white;
    border-radius: 5px;
    border-color: transparent;
    font-family: "raleway semibold";
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
}

.custom-num > div > input
{
    font-family: "raleway semibold";
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
}

.day > p{
    font-family: "raleway semibold";
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
    padding: 1rem 2rem;
    text-align: center;
    cursor: pointer;
}

.day> .custom-num{
    display: none;
}
#form_add_days{
    min-height: 26rem;
    height: 26rem;
}
.day.select{
    background: #ADABFF;
    border: 3px solid #8976FF;
}
.day.select > .custom-num.select {
    display: flex;
    width: 100%;
    /* border-radius: 3em; */
    background: #ADABFF;
    transition: 1s;
    align-items: center;
    justify-content: center;
}
.hs{
    font-family: "raleway regular";
    font-size: 1.5rem;
    text-align:center;
    background:none;
    border:none;
    color:#000;
}

.container_buttons{
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    margin-top: auto;
}
.planmensual--pop-up_wrap #second_button{
    text-decoration: none;
    font-family: "raleway semibold";
    font-size: 1.4rem;
    color: white;
    padding: 1rem 3rem;
    margin: auto;
    border-radius: 14px;
    border: none;
    background-color: #5135FF;
    cursor: pointer;
    margin-top: 1.6rem;
    margin-bottom: 1.3rem;
    pointer-events: none;
}
.planmensual--pop-up_wrap #second_secondbutton{
    text-align: center;
    text-decoration: none;
    color: #000;
    font-family: "raleway bold";
    font-size: 1.2rem;
    background: transparent;
    border: none;
    cursor: pointer;
}


/*----------------------------------------------------------------------*/
/*Tercer cuadrito*/
.pop-up--third{
    width: 42rem;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 3rem;
    display: none;
}
.pop-up--third.active{
    display: flex;
}

.pop-up--third h5{
    font-family: "raleway bold";
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 3rem auto;
}
.pop-up--third button{
    text-decoration: none;
    font-family: "raleway semibold";
    font-size: 1.4rem;
    color: white;
    padding: 1rem 3rem;
    margin: auto;
    border-radius: 14px;
    border: none;
    background-color: #5135FF;
    cursor: pointer;
    margin-top: 1.6rem;
    margin-bottom: 1.3rem;
}

/*Section shifts*/

@media (max-width:800px) {
    .planmensual--pop-up_wrap {
        margin: auto;
    }
    .pop-up--first {
        width: 38rem;
    }
    .pop-up--first ul {
        padding: 0;
    }
    .pop-up--second {
        width: 38rem;
    }
    .pop-up--third {
        width: 38rem;
    }
}
@media (max-width:400px) {
    .pop-up--first {
        width: 30rem;
    }
    .pop-up--first ul {
        flex-direction: column;
        padding: 0;
    }
    .select-box {
        width: 100%
    }
    .pop-up--first > p {
        text-align: center;
        margin: 1rem auto;
    }
    .pop-up--plan {
        margin: 0.5rem auto;
    }
    .pop-up--second {
        width: 30rem;
    }
    .pop-up--second ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .pop-up--third {
        width: 30rem;
    }
}